.topic-title {
    padding-bottom: 6px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.latex-img {
    background: #fff;
    padding: 6px 10px;
    border: 0;
}

.graph-img-container {
    width: 60%;
    min-width: 300px;
    max-width: 500px;
    margin: auto;
}

.graph-img {
    width: 100%;
}