/* Fixed sidenav, full height */

.sidenav {
  height: 100vh;
  width: 300px;
  padding-bottom: 24px;
  z-index: 1;
  background-color: var(--sidenav-background-color);
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
}

/* Style the sidenav links and the dropdown button */

.dropdown-btn {
  padding: 10px 6px 10px 18px;
  text-decoration: none;
  font-size: 1.25rem;
  color: #000;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  box-sizing: border-box;
}

.sidenav a {
  padding: 10px 6px 10px 30px;
  text-decoration: none;
  font-size: 1.2rem;
  color: #000;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  box-sizing: border-box;
}

.sidenav a:hover, .dropdown-btn:hover {
  background-color: #e4e4e4;
}

.dropdown-btn.active {
  background-color: var(--primary-color);
  /* cs logo color */
  color: white;
}

.dropdown-btn:hover.active {
  background: var(--primary-dark-color);
}

.dropdown-container {
  display: none;
}

/* Optional: Style the caret down icon */

.fa-caret-down {
  float: right;
  padding-right: 8px;
}

.sidenav__image-container {
  margin: 0 auto 12px auto;
}

.sidenav__image-container a {
  padding: 0;
  display: flex;
  justify-content: center;
}

#csLogo {
  padding: 12px 0;
  border-bottom: 1px solid #ccc;
}

header {
  position: fixed;
  width: calc(100% - 316px);
  height: 44px;
  top: 0;
  right: 16px;
  background: rgba(230, 230, 230, 0.6);
  backdrop-filter: saturate(180%) blur(20px);
  z-index: 4;
}

.header__list {
  height: 100%;
  display: flex;
  float: right;
  margin: 0;
  padding-right: 12px;
  list-style: none;
  align-items: center;
}

.header__options {
  color: #000;
  cursor: pointer;
  margin-right: 20px;
}

.header__options:hover {
  color: #555555;
}
