#pageTop {

  background-color: #eee;
  display:inline-block;
  width: 100%;
  padding-bottom: 2%;
  margin-top: 0%;
}

#projectName {

  font-size: 3em;
  font-style: bold;

}


#pageBody {

  padding-top: 2%;
  padding-left: 5%;
  padding-right: 5%
}

.codeWrapper {

  display: inline-block;
  margin:0 auto;
  background-color: #F5F5F5;
  padding: 2%;
  width: 96%;
  margin-bottom: 5%;
  border-style: solid;
  border-color: gray;
  border-width: 1px;
  white-space: nowrap;
  overflow-x: scroll;
}

.codeWrapper p {

  margin: 2px;
  padding: 2px;
}

.paragraph {

  display: inline-block;

  word-wrap: normal;
  margin: 0 auto;
  padding: 2%;
  width: 96%;
}

.splitCodeText {

  display: inline;
  margin: 0 auto;

}

.pLeft {

  width: 30%;
  white-space: normal;

}

.cRight {

  width: 337%;
  margin-left: -240%;
  white-space: normal;


}

.beforeCode {
  padding-right: 5px;
  color: #777777;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


@import url('https://fonts.googleapis.com/css?family=Droid+Sans+Mono');

body .gist .gist-file {
    margin-bottom: 0;
    border: 1px dashed #adb5bd;
    border-radius: 0;
}

body .gist .gist-data {
    border-bottom: none;
    border-radius: 0;
    background-color: #f1f3f5;
    max-height: 500px;
    max-width: 1000px;
    padding-right: 0px;
    z-index: 100;
}

body .gist .blob-wrapper {
    border-radius: 0;
}

body .gist .highlight {
    background-color: transparent;
    font-family: 'Droid Sans Mono', monospace;
    font-size: 14px;
}

body .gist .highlight td {
    padding: 5px 15px !important;
    line-height: 1;
    font-family: inherit;
    font-size: inherit;
}

body .gist tr:first-child td {
    padding-top: 15px !important;
}

body .gist tr:last-child td {
    padding-bottom: 15px !important;
}

body .gist .blob-num {
    color: #ced4da;
    background-color: #495057;
    pointer-events: none;
}

body .gist .gist-meta {
    display: none;
}
