#pageTop {
    background-color: #fff;
    display: inline-block;
    width: 100%;
    padding-bottom: 2%;
    margin-top: 0%;
}

#projectName {
    font-size: 3em;
    font-style: bold;
}

#pageBody {
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%
}

.codeWrapper {
    display: inline-block;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    padding: 2%;
    width: 96%;
    margin-bottom: 5%;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    white-space: nowrap;
    overflow-x: scroll;
}

.codeWrapper p {
    margin: 2px;
    padding: 2px;
}

.paragraph {
    display: inline-block;
    word-wrap: normal;
    margin: 0 auto;
    padding: 2%;
    width: 96%;
}

.splitCodeText {
    display: inline;
    margin: 0 auto;
}

.pLeft {
    width: 30%;
    white-space: normal;
}

.cRight {
    width: 337%;
    margin-left: -240%;
    white-space: normal;
}

.beforeCode {
    padding-right: 5px;
    color: #fff;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}