.contentContainer {
	display: flex;
}

.dummySidebar {
  width: var(--content-sidebar-width);
}

@media screen and (max-width: 750px) {
	.contentContainer {
		flex-direction: column;
		padding: 24px;
	}
	.dummySidebar {
		width: 0;
	}
}


@media screen and (max-width: 550px) {
	.contentContainer {
		padding: 0 12px;
	}
}
